.login-page{
   background-image: url(../assets/ronaldo1.jpg);
    background-color: red($color: #a51f1f);
}



.login-form{
text-align:center;
}
div{
    form{
input{
    width:100px;
    padding-left:0.5em;
}
    }
}